-- Spiro Ganas
-- 1/30/17
--
-- HCC codes and descriptions
-- From the 2014 Medicare risk adjustment model:  https://www.cms.gov/Medicare/Health-Plans/MedicareAdvtgSpecRateStats/Risk-Adjustors.html







USE [MIMIC3]
GO
/****** Object:  Table [dbo].[ref_HCC_Desciptions]    Script Date: 1/30/2018 9:56:58 AM ******/
DROP TABLE [dbo].[ref_HCC_Desciptions]
GO
/****** Object:  Table [dbo].[ref_HCC_Desciptions]    Script Date: 1/30/2018 9:56:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ref_HCC_Desciptions](
	[HCC_Code] [int] NOT NULL,
	[HCC_Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ref_ICD9_to_HCC_Mappings] PRIMARY KEY CLUSTERED 
(
	[HCC_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ref_HCC_Desciptions] ([HCC_Code], [HCC_Description]) VALUES (1, N'HIV/AIDS')
GO
INSERT [dbo].[ref_HCC_Desciptions] ([HCC_Code], [HCC_Description]) VALUES (2, N'Septicemia, Sepsis, Systemic Inflammatory Response Syndrome/Shock')
GO
INSERT [dbo].[ref_HCC_Desciptions] ([HCC_Code], [HCC_Description]) VALUES (6, N'Opportunistic Infections')
GO
