USE [MIMIC3]
GO
/****** Object:  Table [dbo].[ref_ICD9_to_HCC_Mapping]    Script Date: 1/30/2018 10:08:24 AM ******/
DROP TABLE [dbo].[ref_ICD9_to_HCC_Mapping]
GO
/****** Object:  Table [dbo].[ref_ICD9_to_HCC_Mapping]    Script Date: 1/30/2018 10:08:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ref_ICD9_to_HCC_Mapping](
	[ICD9_Code] [nvarchar](50) NOT NULL,
	[HCC_Code] [int] NOT NULL,
 CONSTRAINT [PK_ref_ICD9_to_HCC_Mapping] PRIMARY KEY CLUSTERED 
(
	[ICD9_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ref_ICD9_to_HCC_Mapping] ([ICD9_Code], [HCC_Code]) VALUES (N'0031 ', 2)
GO
INSERT [dbo].[ref_ICD9_to_HCC_Mapping] ([ICD9_Code], [HCC_Code]) VALUES (N'00322', 112)
GO
INSERT [dbo].[ref_ICD9_to_HCC_Mapping] ([ICD9_Code], [HCC_Code]) VALUES (N'00323', 37)
GO
