







CREATE VIEW dbo.Diagnoses_by_Patient 
as
-- This view "one-hot encodes" all of the diseases.
-- Each row represents on unique patient.
-- Each column represents one ICD-9 disease code.  
-- A cell contains a 1 if the patient has that disease, and a 0 if they don't.


-- NOTE: SQL Server select statements can support only 4,096 columns
--       There are 14,567 ICD-9 codes in MIMIC III.
--       So I wrote this code to rollup the ICD code to the 3-digit category,
--       and excluded any V and E codes.   


------ This query created all the case statements in the code below
--SELECT distinct 
--[RolledUp_ICD9_Short_Title],
--',max(CASE WHEN  [RolledUp_ICD9_Code]=''' + [RolledUp_ICD9_Code] + ''' then 1 else 0 end )as [' + [RolledUp_ICD9_Short_Title] + ']'
--FROM [dbo].[ICD_DIAGNOSES_ROLLUP]
---- Exclude the V and E codes
--where isnumeric([RolledUp_ICD9_Code]) = 1
---- Sort the columns alphabetically
--order by [RolledUp_ICD9_Short_Title] asc





with Diagnoses as (
-- Only patients with at least one recored ICD-9 code will be returned by the query.
select distinct
a.[SUBJECT_ID]
,b.[RolledUp_ICD9_Code]
,b.[RolledUp_ICD9_Short_Title]

from 
[dbo].[DIAGNOSES_ICD] a
inner join
[dbo].[ICD_DIAGNOSES_ROLLUP] b
on 
a.ICD9_CODE=b.[Detailed_ICD9_Code]

-- Exclude the V and E codes
where isnumeric(a.ICD9_CODE)=1

)

select
[SUBJECT_ID]
------------------
,max(CASE WHEN  [RolledUp_ICD9_Code]='63300' then 1 else 0 end )as [Abd preg w/o intrau preg]
,max(CASE WHEN  [RolledUp_ICD9_Code]='78900' then 1 else 0 end )as [Abdmnal pain unspcf site]
,max(CASE WHEN  [RolledUp_ICD9_Code]='79400' then 1 else 0 end )as [Abn cns funct study NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7920' then 1 else 0 end )as [Abn fnd-cerebrospinal fl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='79500' then 1 else 0 end )as [Abn glandular pap smear]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7810' then 1 else 0 end )as [Abn involun movement NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7960' then 1 else 0 end )as [Abn toxicologic finding]
,max(CASE WHEN  [RolledUp_ICD9_Code]='63700' then 1 else 0 end )as [Abort NOS w pel inf-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9150' then 1 else 0 end )as [Abrasion finger]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9170' then 1 else 0 end )as [Abrasion foot & toe]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9130' then 1 else 0 end )as [Abrasion forearm]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9140' then 1 else 0 end )as [Abrasion hand]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9100' then 1 else 0 end )as [Abrasion head]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9160' then 1 else 0 end )as [Abrasion hip & leg]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9190' then 1 else 0 end )as [Abrasion NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9120' then 1 else 0 end )as [Abrasion shoulder/arm]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9110' then 1 else 0 end )as [Abrasion trunk]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5720' then 1 else 0 end )as [Abscess of liver]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5130' then 1 else 0 end )as [Abscess of lung]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6260' then 1 else 0 end )as [Absence of menstruation]
,max(CASE WHEN  [RolledUp_ICD9_Code]='30300' then 1 else 0 end )as [Ac alcohol intox-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0060' then 1 else 0 end )as [Ac amebiasis w/o abscess]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5400' then 1 else 0 end )as [Ac append w peritonitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='04500' then 1 else 0 end )as [Ac bulbar polio-type NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='53200' then 1 else 0 end )as [Ac duodenal ulcer w hem]
,max(CASE WHEN  [RolledUp_ICD9_Code]='20700' then 1 else 0 end )as [Ac erth/erlk wo ach rmsn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3570' then 1 else 0 end )as [Ac infect polyneuritis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5845' then 1 else 0 end )as [Ac kidny fail, tubr necr]
,max(CASE WHEN  [RolledUp_ICD9_Code]='46400' then 1 else 0 end )as [Ac laryngitis w/o obst]
,max(CASE WHEN  [RolledUp_ICD9_Code]='20800' then 1 else 0 end )as [Ac leu un cl wo ach rmsn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='20400' then 1 else 0 end )as [Ac lym leuk wo achv rmsn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='53400' then 1 else 0 end )as [Ac marginal ulcer w hem]
,max(CASE WHEN  [RolledUp_ICD9_Code]='38300' then 1 else 0 end )as [Ac mastoiditis w/o compl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4610' then 1 else 0 end )as [Ac maxillary sinusitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='20600' then 1 else 0 end )as [Ac mono leu wo achv rmsn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='20500' then 1 else 0 end )as [Ac myl leuk wo achv rmsn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4220' then 1 else 0 end )as [Ac myocardit in oth dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='38100' then 1 else 0 end )as [Ac nonsup otitis med NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='73000' then 1 else 0 end )as [Ac osteomyelitis-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='53300' then 1 else 0 end )as [Ac peptic ulcer w hemorr]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4200' then 1 else 0 end )as [Ac pericardit in oth dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5800' then 1 else 0 end )as [Ac proliferat nephritis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5080' then 1 else 0 end )as [Ac pul manif d/t radiat]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6140' then 1 else 0 end )as [Ac salpingo-oophoritis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='53100' then 1 else 0 end )as [Ac stomach ulcer w hem]
,max(CASE WHEN  [RolledUp_ICD9_Code]='38200' then 1 else 0 end )as [Ac supp otitis media NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6150' then 1 else 0 end )as [Ac uterine inflammation]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5570' then 1 else 0 end )as [Ac vasc insuff intestine]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4210' then 1 else 0 end )as [Ac/subac bact endocard]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5300' then 1 else 0 end )as [Achalasia & cardiospasm]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5360' then 1 else 0 end )as [Achlorhydria]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7060' then 1 else 0 end )as [Acne varioliformis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4470' then 1 else 0 end )as [Acq arterioven fistula]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7380' then 1 else 0 end )as [Acq nose deformity]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5370' then 1 else 0 end )as [Acq pyloric stenosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2530' then 1 else 0 end )as [Acromegaly and gigantism]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7020' then 1 else 0 end )as [Actinic keratosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4660' then 1 else 0 end )as [Acute bronchitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5750' then 1 else 0 end )as [Acute cholecystitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='37200' then 1 else 0 end )as [Acute conjunctivitis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4150' then 1 else 0 end )as [Acute cor pulmonale]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5950' then 1 else 0 end )as [Acute cystitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='53500' then 1 else 0 end )as [Acute gastrtis w/o hmrhg]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0980' then 1 else 0 end )as [Acute gc infect lower gu]
,max(CASE WHEN  [RolledUp_ICD9_Code]='52300' then 1 else 0 end )as [Acute gingititis, plaque]
,max(CASE WHEN  [RolledUp_ICD9_Code]='37600' then 1 else 0 end )as [Acute inflam NOS, orbit]
,max(CASE WHEN  [RolledUp_ICD9_Code]='36400' then 1 else 0 end )as [Acute iridocyclitis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4650' then 1 else 0 end )as [Acute laryngopharyngitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='683' then 1 else 0 end )as [Acute lymphadenitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='01800' then 1 else 0 end )as [Acute miliary tb-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='38400' then 1 else 0 end )as [Acute myringitis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='460' then 1 else 0 end )as [Acute nasopharyngitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='570' then 1 else 0 end )as [Acute necrosis of liver]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5770' then 1 else 0 end )as [Acute pancreatitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='462' then 1 else 0 end )as [Acute pharyngitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6010' then 1 else 0 end )as [Acute prostatitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3910' then 1 else 0 end )as [Acute rheumatic pericard]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2450' then 1 else 0 end )as [Acute thyroiditis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='463' then 1 else 0 end )as [Acute tonsillitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4800' then 1 else 0 end )as [Adenoviral pneumonia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0790' then 1 else 0 end )as [Adenovirus infect NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7260' then 1 else 0 end )as [Adhesive capsulit shlder]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3090' then 1 else 0 end )as [Adjustmnt dis w depressn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7370' then 1 else 0 end )as [Adoles postural kyphosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3070' then 1 else 0 end )as [Adult onset flncy disord]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1360' then 1 else 0 end )as [Ainhum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9580' then 1 else 0 end )as [Air embolism]
,max(CASE WHEN  [RolledUp_ICD9_Code]='30500' then 1 else 0 end )as [Alcohol abuse-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5710' then 1 else 0 end )as [Alcoholic fatty liver]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2870' then 1 else 0 end )as [Allergic purpura]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7080' then 1 else 0 end )as [Allergic urticaria]
,max(CASE WHEN  [RolledUp_ICD9_Code]='70400' then 1 else 0 end )as [Alopecia NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3310' then 1 else 0 end )as [Alzheimer's disease]
,max(CASE WHEN  [RolledUp_ICD9_Code]='36800' then 1 else 0 end )as [Amblyopia NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='41000' then 1 else 0 end )as [AMI anterolateral,unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2700' then 1 else 0 end )as [Amino-acid transport dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2940' then 1 else 0 end )as [Amnestic disord oth dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8870' then 1 else 0 end )as [Amput below elb, unilat]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8970' then 1 else 0 end )as [Amput below knee, unilat]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8860' then 1 else 0 end )as [Amputation finger]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8960' then 1 else 0 end )as [Amputation foot, unilat]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8850' then 1 else 0 end )as [Amputation thumb]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8950' then 1 else 0 end )as [Amputation toe]
,max(CASE WHEN  [RolledUp_ICD9_Code]='566' then 1 else 0 end )as [Anal & rectal abscess]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5690' then 1 else 0 end )as [Anal & rectal polyp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5650' then 1 else 0 end )as [Anal fissure]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1260' then 1 else 0 end )as [Ancylostoma duodenale]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7400' then 1 else 0 end )as [Anencephalus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4130' then 1 else 0 end )as [Angina decubitus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7050' then 1 else 0 end )as [Anhidrosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7200' then 1 else 0 end )as [Ankylosing spondylitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5200' then 1 else 0 end )as [Anodontia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7560' then 1 else 0 end )as [Anomal skull/face bones]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7520' then 1 else 0 end )as [Anomalies of ovaries]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7590' then 1 else 0 end )as [Anomalies of spleen]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7830' then 1 else 0 end )as [Anorexia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='30000' then 1 else 0 end )as [Anxiety state NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0930' then 1 else 0 end )as [Aortic aneurysm, syphil]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4400' then 1 else 0 end )as [Aortic atherosclerosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='541' then 1 else 0 end )as [Appendicitis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2660' then 1 else 0 end )as [Ariboflavinosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4170' then 1 else 0 end )as [Arterioven fistu pul ves]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7130' then 1 else 0 end )as [Arthrop w endocr/met dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='71800' then 1 else 0 end )as [Artic cartil dis-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='501' then 1 else 0 end )as [Asbestosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1270' then 1 else 0 end )as [Ascariasis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='267' then 1 else 0 end )as [Ascorbic acid deficiency]
,max(CASE WHEN  [RolledUp_ICD9_Code]='79901' then 1 else 0 end )as [Asphyxia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='44501' then 1 else 0 end )as [Atheroembolism,upper ext]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4260' then 1 else 0 end )as [Atriovent block complete]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6380' then 1 else 0 end )as [Attem abort w pelvic inf]
,max(CASE WHEN  [RolledUp_ICD9_Code]='31400' then 1 else 0 end )as [Attn defic nonhyperact]
,max(CASE WHEN  [RolledUp_ICD9_Code]='29900' then 1 else 0 end )as [Autistic disord-current]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2830' then 1 else 0 end )as [Autoimmun hemolytic anem]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6060' then 1 else 0 end )as [Azoospermia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0070' then 1 else 0 end )as [Balantidiasis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1250' then 1 else 0 end )as [Bancroftian filariasis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9930' then 1 else 0 end )as [Barotrauma, otitic]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0880' then 1 else 0 end )as [Bartonellosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4350' then 1 else 0 end )as [Basilar artery syndrome]
,max(CASE WHEN  [RolledUp_ICD9_Code]='94800' then 1 else 0 end )as [Bdy brn < 10%/3d deg NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3510' then 1 else 0 end )as [Bell's palsy]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2210' then 1 else 0 end )as [Ben neo fallopian tube]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2120' then 1 else 0 end )as [Ben neo nasal cav/sinus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2130' then 1 else 0 end )as [Ben neo skull/face bone]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2150' then 1 else 0 end )as [Ben neo soft tissue head]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2190' then 1 else 0 end )as [Benign neo cervix uteri]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2110' then 1 else 0 end )as [Benign neo esophagus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2290' then 1 else 0 end )as [Benign neo lymph nodes]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2160' then 1 else 0 end )as [Benign neo skin lip]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2270' then 1 else 0 end )as [Benign neoplasm adrenal]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2250' then 1 else 0 end )as [Benign neoplasm brain]
,max(CASE WHEN  [RolledUp_ICD9_Code]='217' then 1 else 0 end )as [Benign neoplasm breast]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2240' then 1 else 0 end )as [Benign neoplasm eyeball]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2230' then 1 else 0 end )as [Benign neoplasm kidney]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2100' then 1 else 0 end )as [Benign neoplasm lip]
,max(CASE WHEN  [RolledUp_ICD9_Code]='220' then 1 else 0 end )as [Benign neoplasm ovary]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2220' then 1 else 0 end )as [Benign neoplasm testis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='226' then 1 else 0 end )as [Benign neoplasm thyroid]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2650' then 1 else 0 end )as [Beriberi]
,max(CASE WHEN  [RolledUp_ICD9_Code]='29600' then 1 else 0 end )as [Bipol I single manic NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9210' then 1 else 0 end )as [Black eye NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5940' then 1 else 0 end )as [Blad diverticulum calcul]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5960' then 1 else 0 end )as [Bladder neck obstruction]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8670' then 1 else 0 end )as [Bladder/urethra inj-clos]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1160' then 1 else 0 end )as [Blastomycosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='37300' then 1 else 0 end )as [Blepharitis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0330' then 1 else 0 end )as [Bordetella pertussis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='36900' then 1 else 0 end )as [Both eyes blind-who def]
,max(CASE WHEN  [RolledUp_ICD9_Code]='60000' then 1 else 0 end )as [BPH w/o urinary obs/LUTS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3530' then 1 else 0 end )as [Brachial plexus lesions]
,max(CASE WHEN  [RolledUp_ICD9_Code]='85400' then 1 else 0 end )as [Brain injury NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7630' then 1 else 0 end )as [Breech del/extrac aff NB]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4940' then 1 else 0 end )as [Bronchiectas w/o ac exac]
,max(CASE WHEN  [RolledUp_ICD9_Code]='490' then 1 else 0 end )as [Bronchitis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='485' then 1 else 0 end )as [Bronchopneumonia org NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0230' then 1 else 0 end )as [Brucella melitensis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0200' then 1 else 0 end )as [Bubonic plague]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4530' then 1 else 0 end )as [Budd-chiari syndrome]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9490' then 1 else 0 end )as [Burn NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='94300' then 1 else 0 end )as [Burn NOS arm-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='94400' then 1 else 0 end )as [Burn NOS hand-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='94100' then 1 else 0 end )as [Burn NOS head-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='94500' then 1 else 0 end )as [Burn NOS leg-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9460' then 1 else 0 end )as [Burn NOS multiple site]
,max(CASE WHEN  [RolledUp_ICD9_Code]='94200' then 1 else 0 end )as [Burn NOS trunk-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9470' then 1 else 0 end )as [Burn of mouth & pharynx]
,max(CASE WHEN  [RolledUp_ICD9_Code]='80600' then 1 else 0 end )as [C1-c4 fx-cl/cord inj NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='95200' then 1 else 0 end )as [C1-c4 spin cord inj NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2330' then 1 else 0 end )as [Ca in situ breast]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2340' then 1 else 0 end )as [Ca in situ eye]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2310' then 1 else 0 end )as [Ca in situ larynx]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2300' then 1 else 0 end )as [Ca in situ oral cav/phar]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2320' then 1 else 0 end )as [Ca in situ skin lip]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5920' then 1 else 0 end )as [Calculus of kidney]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6020' then 1 else 0 end )as [Calculus of prostate]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6800' then 1 else 0 end )as [Carbuncle of face]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3540' then 1 else 0 end )as [Carpal tunnel syndrome]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5790' then 1 else 0 end )as [Celiac disease]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6820' then 1 else 0 end )as [Cellulitis of face]
,max(CASE WHEN  [RolledUp_ICD9_Code]='68100' then 1 else 0 end )as [Cellulitis, finger NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3380' then 1 else 0 end )as [Central pain syndrome]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4370' then 1 else 0 end )as [Cerebral atherosclerosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='85100' then 1 else 0 end )as [Cerebral cortx contusion]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3480' then 1 else 0 end )as [Cerebral cysts]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7670' then 1 else 0 end )as [Cerebral hem at birth]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7220' then 1 else 0 end )as [Cervical disc displacmnt]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9530' then 1 else 0 end )as [Cervical root injury]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7230' then 1 else 0 end )as [Cervical spinal stenosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7210' then 1 else 0 end )as [Cervical spondylosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6160' then 1 else 0 end )as [Cervicitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0860' then 1 else 0 end )as [Chagas disease of heart]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0990' then 1 else 0 end )as [Chancroid]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9400' then 1 else 0 end )as [Chemical burn periocular]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4280' then 1 else 0 end )as [CHF NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7480' then 1 else 0 end )as [Choanal atresia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='57400' then 1 else 0 end )as [Cholelith w ac cholecyst]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0010' then 1 else 0 end )as [Cholera d/t vib cholerae]
,max(CASE WHEN  [RolledUp_ICD9_Code]='496' then 1 else 0 end )as [Chr airway obstruct NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2800' then 1 else 0 end )as [Chr blood loss anemia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4730' then 1 else 0 end )as [Chr maxillary sinusitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5730' then 1 else 0 end )as [Chr passiv congest liver]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5820' then 1 else 0 end )as [Chr proliferat nephritis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='59000' then 1 else 0 end )as [Chr pyelonephritis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='393' then 1 else 0 end )as [Chr rheumatic pericard]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5851' then 1 else 0 end )as [Chro kidney dis stage I]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4760' then 1 else 0 end )as [Chronic laryngitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4720' then 1 else 0 end )as [Chronic rhinitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='47400' then 1 else 0 end )as [Chronic tonsillitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7010' then 1 else 0 end )as [Circumscribe scleroderma]
,max(CASE WHEN  [RolledUp_ICD9_Code]='80400' then 1 else 0 end )as [Cl skul fx w oth bone fx]
,max(CASE WHEN  [RolledUp_ICD9_Code]='74900' then 1 else 0 end )as [Cleft palate NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='74300' then 1 else 0 end )as [Clinic anophthalmos NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='80100' then 1 else 0 end )as [Clos skull base fracture]
,max(CASE WHEN  [RolledUp_ICD9_Code]='80300' then 1 else 0 end )as [Close skull fracture NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='80000' then 1 else 0 end )as [Closed skull vault fx]
,max(CASE WHEN  [RolledUp_ICD9_Code]='33900' then 1 else 0 end )as [Cluster headache syn NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='500' then 1 else 0 end )as [Coal workers' pneumocon]
,max(CASE WHEN  [RolledUp_ICD9_Code]='78001' then 1 else 0 end )as [Coma]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7450' then 1 else 0 end )as [Common truncus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8500' then 1 else 0 end )as [Concussion w/o coma]
,max(CASE WHEN  [RolledUp_ICD9_Code]='38900' then 1 else 0 end )as [Conduct hearing loss NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='65400' then 1 else 0 end )as [Cong abn uter preg-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2860' then 1 else 0 end )as [Cong factor viii diord]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3590' then 1 else 0 end )as [Cong hered musc dystrphy]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7540' then 1 else 0 end )as [Cong skull/face/jaw def]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3430' then 1 else 0 end )as [Congenital diplegia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='243' then 1 else 0 end )as [Congenital hypothyroidsm]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7700' then 1 else 0 end )as [Congenital pneumonia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7710' then 1 else 0 end )as [Congenital rubella]
,max(CASE WHEN  [RolledUp_ICD9_Code]='56400' then 1 else 0 end )as [Constipation NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='28401' then 1 else 0 end )as [Constitution RBC aplasia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='920' then 1 else 0 end )as [Contusion face/scalp/nck]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9220' then 1 else 0 end )as [Contusion of breast]
,max(CASE WHEN  [RolledUp_ICD9_Code]='92400' then 1 else 0 end )as [Contusion of thigh]
,max(CASE WHEN  [RolledUp_ICD9_Code]='92300' then 1 else 0 end )as [Contusion shoulder reg]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7790' then 1 else 0 end )as [Convulsions in newborn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='41400' then 1 else 0 end )as [Cor ath unsp vsl ntv/gft]
,max(CASE WHEN  [RolledUp_ICD9_Code]='66300' then 1 else 0 end )as [Cord prolapse-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9300' then 1 else 0 end )as [Corneal foreign body]
,max(CASE WHEN  [RolledUp_ICD9_Code]='37100' then 1 else 0 end )as [Corneal opacity NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='37000' then 1 else 0 end )as [Corneal ulcer NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='700' then 1 else 0 end )as [Corns and callosities]
,max(CASE WHEN  [RolledUp_ICD9_Code]='05101' then 1 else 0 end )as [Cowpox]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0470' then 1 else 0 end )as [Coxsackie virus mening]
,max(CASE WHEN  [RolledUp_ICD9_Code]='43400' then 1 else 0 end )as [Crbl thrmbs wo infrct]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0650' then 1 else 0 end )as [Crimean hemorrhagic fev]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9260' then 1 else 0 end )as [Crush inj ext genitalia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9251' then 1 else 0 end )as [Crush inj face scalp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9290' then 1 else 0 end )as [Crush inj mult site NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='92700' then 1 else 0 end )as [Crush inj shoulder reg]
,max(CASE WHEN  [RolledUp_ICD9_Code]='92800' then 1 else 0 end )as [Crushing injury thigh]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3210' then 1 else 0 end )as [Cryptococcal meningitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2550' then 1 else 0 end )as [Cushing's syndrome]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0390' then 1 else 0 end )as [Cutaneous actinomycosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0220' then 1 else 0 end )as [Cutaneous anthrax]
,max(CASE WHEN  [RolledUp_ICD9_Code]='436' then 1 else 0 end )as [Cva]
,max(CASE WHEN  [RolledUp_ICD9_Code]='27700' then 1 else 0 end )as [Cystic fibros w/o ileus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='37500' then 1 else 0 end )as [Dacryoadenitis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2690' then 1 else 0 end )as [Deficiency of vitamin k]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6120' then 1 else 0 end )as [Deformity reconst breast]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3330' then 1 else 0 end )as [Degen basal ganglia NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='38800' then 1 else 0 end )as [Degen/vascul dis ear NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='66400' then 1 else 0 end )as [Del w 1 deg lacerat-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2590' then 1 else 0 end )as [Delay sexual develop NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2930' then 1 else 0 end )as [Delirium d/t other cond]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2910' then 1 else 0 end )as [Delirium tremens]
,max(CASE WHEN  [RolledUp_ICD9_Code]='061' then 1 else 0 end )as [Dengue]
,max(CASE WHEN  [RolledUp_ICD9_Code]='52100' then 1 else 0 end )as [Dental caries NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='311' then 1 else 0 end )as [Depressive disorder NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6940' then 1 else 0 end )as [Dermatitis herpetiformis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1100' then 1 else 0 end )as [Dermatophyt scalp/beard]
,max(CASE WHEN  [RolledUp_ICD9_Code]='36100' then 1 else 0 end )as [Detachmnt w defect NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6920' then 1 else 0 end )as [Detergent dermatitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5260' then 1 else 0 end )as [Devel odontogenic cysts]
,max(CASE WHEN  [RolledUp_ICD9_Code]='470' then 1 else 0 end )as [Deviated nasal septum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='64800' then 1 else 0 end )as [Diabetes in preg-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='36201' then 1 else 0 end )as [Diabetic retinopathy NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6910' then 1 else 0 end )as [Diaper or napkin rash]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8620' then 1 else 0 end )as [Diaphragm injury-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='71210' then 1 else 0 end )as [Dicalc phos cryst-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2390' then 1 else 0 end )as [Digestive neoplasm NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2460' then 1 else 0 end )as [Dis thyrocalciton secret]
,max(CASE WHEN  [RolledUp_ICD9_Code]='83400' then 1 else 0 end )as [Disl finger NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='83900' then 1 else 0 end )as [Disloc cerv vert NOS-cl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='83100' then 1 else 0 end )as [Disloc shoulder NOS-clos]
,max(CASE WHEN  [RolledUp_ICD9_Code]='83300' then 1 else 0 end )as [Disloc wrist NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='83200' then 1 else 0 end )as [Dislocat elbow NOS-close]
,max(CASE WHEN  [RolledUp_ICD9_Code]='83800' then 1 else 0 end )as [Dislocat foot NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='83500' then 1 else 0 end )as [Dislocat hip NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8370' then 1 else 0 end )as [Dislocation ankle-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8300' then 1 else 0 end )as [Dislocation jaw-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='25000' then 1 else 0 end )as [DMII wo cmp nt st uncntr]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7580' then 1 else 0 end )as [Down's syndrome]
,max(CASE WHEN  [RolledUp_ICD9_Code]='79001' then 1 else 0 end )as [Drop, hematocrit, precip]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6930' then 1 else 0 end )as [Drug dermatitis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2920' then 1 else 0 end )as [Drug withdrawal]
,max(CASE WHEN  [RolledUp_ICD9_Code]='44100' then 1 else 0 end )as [Dsct of aorta unsp site]
,max(CASE WHEN  [RolledUp_ICD9_Code]='504' then 1 else 0 end )as [Dust pneumonopathy NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='56200' then 1 else 0 end )as [Dvrtclo sml int w/o hmrg]
,max(CASE WHEN  [RolledUp_ICD9_Code]='70900' then 1 else 0 end )as [Dyschromia, unspecified]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6250' then 1 else 0 end )as [Dyspareunia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6230' then 1 else 0 end )as [Dysplasia of vagina]
,max(CASE WHEN  [RolledUp_ICD9_Code]='74400' then 1 else 0 end )as [Ear anom NOS/impair hear]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0900' then 1 else 0 end )as [Early cong syph symptom]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0920' then 1 else 0 end )as [Early syph latent relaps]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1220' then 1 else 0 end )as [Echinococc granul liver]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0540' then 1 else 0 end )as [Eczema herpeticum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9940' then 1 else 0 end )as [Effects of lightning]
,max(CASE WHEN  [RolledUp_ICD9_Code]='990' then 1 else 0 end )as [Effects radiation NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3020' then 1 else 0 end )as [Ego-dystonic sex orient]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4920' then 1 else 0 end )as [Emphysematous bleb]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5100' then 1 else 0 end )as [Empyema with fistula]
,max(CASE WHEN  [RolledUp_ICD9_Code]='32301' then 1 else 0 end )as [Enceph/encephmye oth dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7420' then 1 else 0 end )as [Encephalocele]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6030' then 1 else 0 end )as [Encysted hydrocele]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4250' then 1 else 0 end )as [Endomyocardial fibrosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='37400' then 1 else 0 end )as [Entropion NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6220' then 1 else 0 end )as [Erosion/ectropion cervix]
,max(CASE WHEN  [RolledUp_ICD9_Code]='035' then 1 else 0 end )as [Erysipelas]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0570' then 1 else 0 end )as [Erythema infectiosum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4560' then 1 else 0 end )as [Esophag varices w bleed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='37800' then 1 else 0 end )as [Esotropia NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='64200' then 1 else 0 end )as [Essen hyperten preg-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7660' then 1 else 0 end )as [Exceptionally large baby]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5250' then 1 else 0 end )as [Exfoliation of teeth]
,max(CASE WHEN  [RolledUp_ICD9_Code]='76500' then 1 else 0 end )as [Extreme immatur wtNOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='49300' then 1 else 0 end )as [Extrinsic asthma NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='65900' then 1 else 0 end )as [Fail mechan induct-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0840' then 1 else 0 end )as [Falciparum malaria]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4950' then 1 else 0 end )as [Farmers' lung]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0320' then 1 else 0 end )as [Faucial diphtheria]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9390' then 1 else 0 end )as [FB bladder & urethra]
,max(CASE WHEN  [RolledUp_ICD9_Code]='936' then 1 else 0 end )as [FB in intestine & colon]
,max(CASE WHEN  [RolledUp_ICD9_Code]='65500' then 1 else 0 end )as [Fetal cns malform-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7680' then 1 else 0 end )as [Fetal death-anoxia NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='67800' then 1 else 0 end )as [Fetal hematologic-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='65600' then 1 else 0 end )as [Fetal-maternal hem-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='734' then 1 else 0 end )as [Flat foot]
,max(CASE WHEN  [RolledUp_ICD9_Code]='34200' then 1 else 0 end )as [Flccd hmiplga unspf side]
,max(CASE WHEN  [RolledUp_ICD9_Code]='48801' then 1 else 0 end )as [Flu dt iden avian w pneu]
,max(CASE WHEN  [RolledUp_ICD9_Code]='36300' then 1 else 0 end )as [Focal chorioretinit NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6200' then 1 else 0 end )as [Follicular cyst of ovary]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5070' then 1 else 0 end )as [Food/vomit pneumonitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='73600' then 1 else 0 end )as [Forearm deformity NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='937' then 1 else 0 end )as [Foreign body anus/rectum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='938' then 1 else 0 end )as [Foreign body GI NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='931' then 1 else 0 end )as [Foreign body in ear]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9350' then 1 else 0 end )as [Foreign body in mouth]
,max(CASE WHEN  [RolledUp_ICD9_Code]='932' then 1 else 0 end )as [Foreign body in nose]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9330' then 1 else 0 end )as [Foreign body in pharynx]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9340' then 1 else 0 end )as [Foreign body in trachea]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8080' then 1 else 0 end )as [Fracture acetabulum-clos]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8250' then 1 else 0 end )as [Fracture calcaneus-close]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8290' then 1 else 0 end )as [Fracture NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8220' then 1 else 0 end )as [Fracture patella-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='80700' then 1 else 0 end )as [Fracture rib NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8090' then 1 else 0 end )as [Fracture trunk bone-clos]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3340' then 1 else 0 end )as [Friedreich's ataxia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3100' then 1 else 0 end )as [Frontal lobe syndrome]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9910' then 1 else 0 end )as [Frostbite of face]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5060' then 1 else 0 end )as [Fum/vapor bronc/pneumon]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8180' then 1 else 0 end )as [Fx arm mult/NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8190' then 1 else 0 end )as [Fx arms w rib/sternum-cl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='81400' then 1 else 0 end )as [Fx carpal bone NOS-close]
,max(CASE WHEN  [RolledUp_ICD9_Code]='80500' then 1 else 0 end )as [Fx cervical vert NOS-cl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='81000' then 1 else 0 end )as [Fx clavicle NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='82000' then 1 else 0 end )as [Fx femur intrcaps NOS-cl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='82100' then 1 else 0 end )as [Fx femur NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8280' then 1 else 0 end )as [Fx legs w arm/rib-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8270' then 1 else 0 end )as [Fx lower limb NEC-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8240' then 1 else 0 end )as [Fx medial malleolus-clos]
,max(CASE WHEN  [RolledUp_ICD9_Code]='81500' then 1 else 0 end )as [Fx metacarpal NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8260' then 1 else 0 end )as [Fx phalanx, foot-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='81600' then 1 else 0 end )as [Fx phalanx, hand NOS-cl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='81100' then 1 else 0 end )as [Fx scapula NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='81200' then 1 else 0 end )as [Fx up end humerus NOS-cl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='82300' then 1 else 0 end )as [Fx upper end tibia-close]
,max(CASE WHEN  [RolledUp_ICD9_Code]='81300' then 1 else 0 end )as [Fx upper forearm NOS-cl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0400' then 1 else 0 end )as [Gas gangrene]
,max(CASE WHEN  [RolledUp_ICD9_Code]='34500' then 1 else 0 end )as [Gen noncv ep w/o intr ep]
,max(CASE WHEN  [RolledUp_ICD9_Code]='71500' then 1 else 0 end )as [General osteoarthrosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9990' then 1 else 0 end )as [Generalized vaccinia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='538' then 1 else 0 end )as [GI mucositis (ulceratve)]
,max(CASE WHEN  [RolledUp_ICD9_Code]='024' then 1 else 0 end )as [Glanders]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5290' then 1 else 0 end )as [Glossitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2710' then 1 else 0 end )as [Glycogenosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='27400' then 1 else 0 end )as [Gouty arthropathy NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7350' then 1 else 0 end )as [Hallux valgus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='20100' then 1 else 0 end )as [Hdgk prg unsp xtrndl org]
,max(CASE WHEN  [RolledUp_ICD9_Code]='95901' then 1 else 0 end )as [Head injury NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7840' then 1 else 0 end )as [Headache]
,max(CASE WHEN  [RolledUp_ICD9_Code]='86100' then 1 else 0 end )as [Heart injury NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9920' then 1 else 0 end )as [Heat stroke & sunstroke]
,max(CASE WHEN  [RolledUp_ICD9_Code]='22800' then 1 else 0 end )as [Hemangioma NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5780' then 1 else 0 end )as [Hematemesis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6290' then 1 else 0 end )as [Hematocele, female NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4230' then 1 else 0 end )as [Hemopericardium]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3200' then 1 else 0 end )as [Hemophilus meningitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4590' then 1 else 0 end )as [Hemorrhage NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0700' then 1 else 0 end )as [Hepatitis A with coma]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3560' then 1 else 0 end )as [Hered periph neuropathy]
,max(CASE WHEN  [RolledUp_ICD9_Code]='27501' then 1 else 0 end )as [Heredit hemochromatosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4480' then 1 else 0 end )as [Heredit hemorr telangiec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7570' then 1 else 0 end )as [Hereditary edema of legs]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2820' then 1 else 0 end )as [Hereditary spherocytosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0740' then 1 else 0 end )as [Herpangina]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0530' then 1 else 0 end )as [Herpes zoster meningitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='11500' then 1 else 0 end )as [Histoplasma capsulat NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='042' then 1 else 0 end )as [Human immuno virus dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='630' then 1 else 0 end )as [Hydatidiform mole]
,max(CASE WHEN  [RolledUp_ICD9_Code]='591' then 1 else 0 end )as [Hydronephrosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7780' then 1 else 0 end )as [Hydrops fetalis no isoim]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2560' then 1 else 0 end )as [Hyperestrogenism]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3670' then 1 else 0 end )as [Hypermetropia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2760' then 1 else 0 end )as [Hyperosmolality]
,max(CASE WHEN  [RolledUp_ICD9_Code]='25200' then 1 else 0 end )as [Hyperparathyroidism NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5430' then 1 else 0 end )as [Hyperplasia of appendix]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4780' then 1 else 0 end )as [Hypertrph nasal turbinat]
,max(CASE WHEN  [RolledUp_ICD9_Code]='27900' then 1 else 0 end )as [Hypogammaglobulinem NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2510' then 1 else 0 end )as [Hypoglycemic coma]
,max(CASE WHEN  [RolledUp_ICD9_Code]='33700' then 1 else 0 end )as [Idio perph auto neur NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='63600' then 1 else 0 end )as [Illeg ab w pelv inf-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='684' then 1 else 0 end )as [Impetigo]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6310' then 1 else 0 end )as [Inapp chg hCG early preg]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0770' then 1 else 0 end )as [Inclusion conjunctivitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7610' then 1 else 0 end )as [Incompetnt cervix aff NB]
,max(CASE WHEN  [RolledUp_ICD9_Code]='53901' then 1 else 0 end )as [Inf d/t gastrc band proc]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7750' then 1 else 0 end )as [Infant diabet mother syn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='67500' then 1 else 0 end )as [Infect nipple preg-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0090' then 1 else 0 end )as [Infectious enteritis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='075' then 1 else 0 end )as [Infectious mononucleosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7280' then 1 else 0 end )as [Infective myositis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6280' then 1 else 0 end )as [Infertility-anovulation]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6110' then 1 else 0 end )as [Inflam disease of breast]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4870' then 1 else 0 end )as [Influenza with pneumonia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7030' then 1 else 0 end )as [Ingrowing nail]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1020' then 1 else 0 end )as [Initial lesions yaws]
,max(CASE WHEN  [RolledUp_ICD9_Code]='90300' then 1 else 0 end )as [Inj axillary vessel NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9540' then 1 else 0 end )as [Inj cerv sympath nerve]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9040' then 1 else 0 end )as [Inj common femoral arter]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9570' then 1 else 0 end )as [Inj superf nerv head/nck]
,max(CASE WHEN  [RolledUp_ICD9_Code]='90000' then 1 else 0 end )as [Injur carotid artery NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9020' then 1 else 0 end )as [Injury abdominal aorta]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9550' then 1 else 0 end )as [Injury axillary nerve]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9510' then 1 else 0 end )as [Injury oculomotor nerve]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9560' then 1 else 0 end )as [Injury sciatic nerve]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9010' then 1 else 0 end )as [Injury thoracic aorta]
,max(CASE WHEN  [RolledUp_ICD9_Code]='503' then 1 else 0 end )as [Inorg dust pneumocon NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4550' then 1 else 0 end )as [Int hemorrhoid w/o compl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='319' then 1 else 0 end )as [Intellect disability NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8690' then 1 else 0 end )as [Internal inj NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='00800' then 1 else 0 end )as [Intest infec e coli NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='129' then 1 else 0 end )as [Intestin parasitism NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='86800' then 1 else 0 end )as [Intra-abdom inj NOS-clos]
,max(CASE WHEN  [RolledUp_ICD9_Code]='431' then 1 else 0 end )as [Intracerebral hemorrhage]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3240' then 1 else 0 end )as [Intracranial abscess]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5600' then 1 else 0 end )as [Intussusception]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0620' then 1 else 0 end )as [Japanese encephalitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='71900' then 1 else 0 end )as [Joint effusion-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7320' then 1 else 0 end )as [Juv osteochondros spine]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4820' then 1 else 0 end )as [K. pneumoniae pneumonia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='71600' then 1 else 0 end )as [Kaschin-beck dis-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='86600' then 1 else 0 end )as [Kidney injury NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0460' then 1 else 0 end )as [Kuru]
,max(CASE WHEN  [RolledUp_ICD9_Code]='260' then 1 else 0 end )as [Kwashiorkor]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8700' then 1 else 0 end )as [Lac eyelid skn/perioculr]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4380' then 1 else 0 end )as [Late ef CV dis-cognf def]
,max(CASE WHEN  [RolledUp_ICD9_Code]='326' then 1 else 0 end )as [Late eff cns abscess]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9090' then 1 else 0 end )as [Late eff drug poisoning]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9080' then 1 else 0 end )as [Late eff int injur chest]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1390' then 1 else 0 end )as [Late eff viral encephal]
,max(CASE WHEN  [RolledUp_ICD9_Code]='677' then 1 else 0 end )as [Late effct cmplcatn preg]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9050' then 1 else 0 end )as [Late effec skull/face fx]
,max(CASE WHEN  [RolledUp_ICD9_Code]='138' then 1 else 0 end )as [Late effect acute polio]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1370' then 1 else 0 end )as [Late effect tb, resp/NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='096' then 1 else 0 end )as [Late syphilis latent]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0970' then 1 else 0 end )as [Late syphilis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='63500' then 1 else 0 end )as [Leg abor w pelv inf-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4540' then 1 else 0 end )as [Leg varicosity w ulcer]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0300' then 1 else 0 end )as [Lepromatous leprosy]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1000' then 1 else 0 end )as [Leptospiros icterohem]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3300' then 1 else 0 end )as [Leukodystrophy]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6070' then 1 else 0 end )as [Leukoplakia of penis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6970' then 1 else 0 end )as [Lichen planus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='76400' then 1 else 0 end )as [Light-for-dates wtNOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2140' then 1 else 0 end )as [Lipoma skin face]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0270' then 1 else 0 end )as [Listeriosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='86400' then 1 else 0 end )as [Liver injury NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0870' then 1 else 0 end )as [Louse-borne relaps fever]
,max(CASE WHEN  [RolledUp_ICD9_Code]='080' then 1 else 0 end )as [Louse-borne typhus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9070' then 1 else 0 end )as [Lt eff intracranial inj]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9060' then 1 else 0 end )as [Lt eff opn wnd head/trnk]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3490' then 1 else 0 end )as [Lumbar puncture reaction]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0490' then 1 else 0 end )as [Lymphocytic choriomening]
,max(CASE WHEN  [RolledUp_ICD9_Code]='67000' then 1 else 0 end )as [Maj puerp inf NOS-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='20900' then 1 else 0 end )as [Mal crcnoid sm intst NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='40400' then 1 else 0 end )as [Mal hy ht/kd I-IV w/o hf]
,max(CASE WHEN  [RolledUp_ICD9_Code]='40300' then 1 else 0 end )as [Mal hy kid w cr kid I-IV]
,max(CASE WHEN  [RolledUp_ICD9_Code]='40200' then 1 else 0 end )as [Mal hyp ht dis w/o hf]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1440' then 1 else 0 end )as [Mal neo ant floor mouth]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1880' then 1 else 0 end )as [Mal neo bladder-trigone]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1500' then 1 else 0 end )as [Mal neo cervical esophag]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1450' then 1 else 0 end )as [Mal neo cheek mucosa]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1920' then 1 else 0 end )as [Mal neo cranial nerves]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1950' then 1 else 0 end )as [Mal neo head/face/neck]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1530' then 1 else 0 end )as [Mal neo hepatic flexure]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1550' then 1 else 0 end )as [Mal neo liver, primary]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1960' then 1 else 0 end )as [Mal neo lymph-head/neck]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1750' then 1 else 0 end )as [Mal neo male nipple]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1600' then 1 else 0 end )as [Mal neo nasal cavities]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1570' then 1 else 0 end )as [Mal neo pancreas head]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1630' then 1 else 0 end )as [Mal neo parietal pleura]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1490' then 1 else 0 end )as [Mal neo pharynx NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1480' then 1 else 0 end )as [Mal neo postcricoid]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1540' then 1 else 0 end )as [Mal neo rectosigmoid jct]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1580' then 1 else 0 end )as [Mal neo retroperitoneum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1700' then 1 else 0 end )as [Mal neo skull/face bone]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1710' then 1 else 0 end )as [Mal neo soft tissue head]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1510' then 1 else 0 end )as [Mal neo stomach cardia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1470' then 1 else 0 end )as [Mal neo super nasopharyn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1410' then 1 else 0 end )as [Mal neo tongue base]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1860' then 1 else 0 end )as [Mal neo undescend testis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1650' then 1 else 0 end )as [Mal neo upper resp NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1400' then 1 else 0 end )as [Mal neo upper vermilion]
,max(CASE WHEN  [RolledUp_ICD9_Code]='40501' then 1 else 0 end )as [Mal renovasc hypertens]
,max(CASE WHEN  [RolledUp_ICD9_Code]='99600' then 1 else 0 end )as [Malfunc card dev/grf NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1720' then 1 else 0 end )as [Malig melanoma lip]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1820' then 1 else 0 end )as [Malig neo corpus uteri]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1990' then 1 else 0 end )as [Malig neo disseminated]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1800' then 1 else 0 end )as [Malig neo endocervix]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1560' then 1 else 0 end )as [Malig neo gallbladder]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1590' then 1 else 0 end )as [Malig neo intestine NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1740' then 1 else 0 end )as [Malig neo nipple]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1420' then 1 else 0 end )as [Malig neo parotid]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1430' then 1 else 0 end )as [Malig neo upper gum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1890' then 1 else 0 end )as [Malig neopl kidney]
,max(CASE WHEN  [RolledUp_ICD9_Code]='17300' then 1 else 0 end )as [Malig neopl skin lip NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='179' then 1 else 0 end )as [Malig neopl uterus NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1940' then 1 else 0 end )as [Malign neopl adrenal]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1910' then 1 else 0 end )as [Malign neopl cerebrum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1900' then 1 else 0 end )as [Malign neopl eyeball]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1830' then 1 else 0 end )as [Malign neopl ovary]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1871' then 1 else 0 end )as [Malign neopl prepuce]
,max(CASE WHEN  [RolledUp_ICD9_Code]='185' then 1 else 0 end )as [Malign neopl prostate]
,max(CASE WHEN  [RolledUp_ICD9_Code]='193' then 1 else 0 end )as [Malign neopl thyroid]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1840' then 1 else 0 end )as [Malign neopl vagina]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4010' then 1 else 0 end )as [Malignant hypertension]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1610' then 1 else 0 end )as [Malignant neo glottis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1620' then 1 else 0 end )as [Malignant neo trachea]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1520' then 1 else 0 end )as [Malignant neopl duodenum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='181' then 1 else 0 end )as [Malignant neopl placenta]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1640' then 1 else 0 end )as [Malignant neopl thymus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1460' then 1 else 0 end )as [Malignant neopl tonsil]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2630' then 1 else 0 end )as [Malnutrition mod degree]
,max(CASE WHEN  [RolledUp_ICD9_Code]='67900' then 1 else 0 end )as [Mat comp in utero-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7600' then 1 else 0 end )as [Matern hyperten aff NB]
,max(CASE WHEN  [RolledUp_ICD9_Code]='66900' then 1 else 0 end )as [Maternal distress-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7510' then 1 else 0 end )as [Meckel's diverticulum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7771' then 1 else 0 end )as [Meconium obstruction]
,max(CASE WHEN  [RolledUp_ICD9_Code]='025' then 1 else 0 end )as [Melioidosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='38600' then 1 else 0 end )as [Meniere's disease NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0360' then 1 else 0 end )as [Meningococcal meningitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='34600' then 1 else 0 end )as [Mgrn w aura wo ntrc mgrn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='64300' then 1 else 0 end )as [Mild hyperem grav-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='317' then 1 else 0 end )as [Mild intellect disabilty]
,max(CASE WHEN  [RolledUp_ICD9_Code]='632' then 1 else 0 end )as [Missed abortion]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3940' then 1 else 0 end )as [Mitral stenosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4240' then 1 else 0 end )as [Mitral valve disorder]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3960' then 1 else 0 end )as [Mitral/aortic stenosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3180' then 1 else 0 end )as [Mod intellect disability]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0780' then 1 else 0 end )as [Molluscum contagiosum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='25801' then 1 else 0 end )as [Mult endo neoplas type I]
,max(CASE WHEN  [RolledUp_ICD9_Code]='20300' then 1 else 0 end )as [Mult mye w/o achv rmson]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8170' then 1 else 0 end )as [Multiple fx hand-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='340' then 1 else 0 end )as [Multiple sclerosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0720' then 1 else 0 end )as [Mumps orchitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0810' then 1 else 0 end )as [Murine typhus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1340' then 1 else 0 end )as [Myiasis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4290' then 1 else 0 end )as [Myocarditis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='35800' then 1 else 0 end )as [Mysthna grvs w/o ac exac]
,max(CASE WHEN  [RolledUp_ICD9_Code]='34700' then 1 else 0 end )as [Narcolepsy w/o cataplexy]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8020' then 1 else 0 end )as [Nasal bone fx-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='78701' then 1 else 0 end )as [Nausea with vomiting]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7720' then 1 else 0 end )as [NB fetal blood loss NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7730' then 1 else 0 end )as [NB hemolyt dis:rh isoimm]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7760' then 1 else 0 end )as [NB hemorrhagic disease]
,max(CASE WHEN  [RolledUp_ICD9_Code]='20200' then 1 else 0 end )as [Ndlr lym unsp xtrndl org]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5930' then 1 else 0 end )as [Nephroptosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5810' then 1 else 0 end )as [Nephrotic syn, prolifer]
,max(CASE WHEN  [RolledUp_ICD9_Code]='99700' then 1 else 0 end )as [Nervous syst complc NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3410' then 1 else 0 end )as [Neuromyelitis optica]
,max(CASE WHEN  [RolledUp_ICD9_Code]='28800' then 1 else 0 end )as [Neutropenia NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3220' then 1 else 0 end )as [Nonpyogenic meningitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='36600' then 1 else 0 end )as [Nonsenile cataract NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7930' then 1 else 0 end )as [Nonsp abn fd-skull/head]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2410' then 1 else 0 end )as [Nontox uninodular goiter]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4320' then 1 else 0 end )as [Nontraum extradural hem]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1040' then 1 else 0 end )as [Nonvenereal endemic syph]
,max(CASE WHEN  [RolledUp_ICD9_Code]='650' then 1 else 0 end )as [Normal delivery]
,max(CASE WHEN  [RolledUp_ICD9_Code]='261' then 1 else 0 end )as [Nutritional marasmus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='67300' then 1 else 0 end )as [Ob air embolism-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='27800' then 1 else 0 end )as [Obesity NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='66000' then 1 else 0 end )as [Obstruct/fet malpos-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='43300' then 1 else 0 end )as [Ocl bslr art wo infrct]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8710' then 1 else 0 end )as [Ocular lac w/o prolapse]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7170' then 1 else 0 end )as [Old bucket tear med men]
,max(CASE WHEN  [RolledUp_ICD9_Code]='412' then 1 else 0 end )as [Old myocardial infarct]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3520' then 1 else 0 end )as [Olfactory nerve disorder]
,max(CASE WHEN  [RolledUp_ICD9_Code]='65800' then 1 else 0 end )as [Oligohydramnios-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8910' then 1 else 0 end )as [Open wnd knee/leg/ankle]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8840' then 1 else 0 end )as [Open wound arm mult/NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8760' then 1 else 0 end )as [Open wound of back]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8790' then 1 else 0 end )as [Open wound of breast]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8770' then 1 else 0 end )as [Open wound of buttock]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8750' then 1 else 0 end )as [Open wound of chest]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8830' then 1 else 0 end )as [Open wound of finger]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8920' then 1 else 0 end )as [Open wound of foot]
,max(CASE WHEN  [RolledUp_ICD9_Code]='88100' then 1 else 0 end )as [Open wound of forearm]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8820' then 1 else 0 end )as [Open wound of hand]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8900' then 1 else 0 end )as [Open wound of hip/thigh]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8940' then 1 else 0 end )as [Open wound of leg NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8780' then 1 else 0 end )as [Open wound of penis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8730' then 1 else 0 end )as [Open wound of scalp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='88000' then 1 else 0 end )as [Open wound of shoulder]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8930' then 1 else 0 end )as [Open wound of toe]
,max(CASE WHEN  [RolledUp_ICD9_Code]='30400' then 1 else 0 end )as [Opioid dependence-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1210' then 1 else 0 end )as [Opisthorchiasis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='87400' then 1 else 0 end )as [Opn wnd larynx w trachea]
,max(CASE WHEN  [RolledUp_ICD9_Code]='87200' then 1 else 0 end )as [Opn wound extern ear NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='118' then 1 else 0 end )as [Opportunistic mycoses]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9500' then 1 else 0 end )as [Optic nerve injury]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6040' then 1 else 0 end )as [Orchitis with abscess]
,max(CASE WHEN  [RolledUp_ICD9_Code]='32700' then 1 else 0 end )as [Organic insomnia NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0730' then 1 else 0 end )as [Ornithosis pneumonia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='05900' then 1 else 0 end )as [Orthopoxvirus infect NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4580' then 1 else 0 end )as [Orthostatic hypotension]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7310' then 1 else 0 end )as [Osteitis deformans NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='73300' then 1 else 0 end )as [Osteoporosis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='048' then 1 else 0 end )as [Oth enteroviral cns dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='262' then 1 else 0 end )as [Oth severe malnutrition]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9950' then 1 else 0 end )as [Other anaphylactic react]
,max(CASE WHEN  [RolledUp_ICD9_Code]='542' then 1 else 0 end )as [Other appendicitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3870' then 1 else 0 end )as [Otoscler-oval wnd nonobl]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3130' then 1 else 0 end )as [Overanxious disorder]
,max(CASE WHEN  [RolledUp_ICD9_Code]='37700' then 1 else 0 end )as [Papilledema NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='64600' then 1 else 0 end )as [Papyraceous fetus-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3320' then 1 else 0 end )as [Paralysis agitans]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3010' then 1 else 0 end )as [Paranoid personality]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2970' then 1 else 0 end )as [Paranoid state, simple]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4270' then 1 else 0 end )as [Parox atrial tachycardia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7470' then 1 else 0 end )as [Patent ductus arteriosus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1320' then 1 else 0 end )as [Pediculus capitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='65300' then 1 else 0 end )as [Pelvic deform NOS-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='38000' then 1 else 0 end )as [Perichondritis pinna NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7740' then 1 else 0 end )as [Perinat jaund-hered anem]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5680' then 1 else 0 end )as [Peritoneal adhesions]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5670' then 1 else 0 end )as [Peritonitis in infec dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='475' then 1 else 0 end )as [Peritonsillar abscess]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2810' then 1 else 0 end )as [Pernicious anemia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2540' then 1 else 0 end )as [Persist hyperplas thymus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='325' then 1 else 0 end )as [Phlebitis intrcran sinus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0660' then 1 else 0 end )as [Phlebotomus fever]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6850' then 1 else 0 end )as [Pilonidal cyst w abscess]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1030' then 1 else 0 end )as [Pinta primary lesions]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1110' then 1 else 0 end )as [Pityriasis versicolor]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7620' then 1 else 0 end )as [Placenta previa aff NB]
,max(CASE WHEN  [RolledUp_ICD9_Code]='64100' then 1 else 0 end )as [Placenta previa-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5110' then 1 else 0 end )as [Pleurisy w/o effus or TB]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4830' then 1 else 0 end )as [Pneu mycplsm pneumoniae]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4841' then 1 else 0 end )as [Pneum w cytomeg incl dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='481' then 1 else 0 end )as [Pneumococcal pneumonia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='505' then 1 else 0 end )as [Pneumoconiosis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='486' then 1 else 0 end )as [Pneumonia, organism NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9730' then 1 else 0 end )as [Pois-antacid/antigastric]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9630' then 1 else 0 end )as [Pois-antiallrg/antiemet]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9720' then 1 else 0 end )as [Pois-card rhythm regulat]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9680' then 1 else 0 end )as [Pois-cns muscle depress]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9620' then 1 else 0 end )as [Pois-corticosteroids]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9760' then 1 else 0 end )as [Pois-local anti-infect]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9740' then 1 else 0 end )as [Pois-mercurial diuretics]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9710' then 1 else 0 end )as [Pois-parasympathomimetic]
,max(CASE WHEN  [RolledUp_ICD9_Code]='96900' then 1 else 0 end )as [Poison-antidepresnt NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9660' then 1 else 0 end )as [Poison-oxazolidine deriv]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9790' then 1 else 0 end )as [Poison-smallpox vaccine]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9700' then 1 else 0 end )as [Poisoning-analeptics]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9670' then 1 else 0 end )as [Poisoning-barbiturates]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9780' then 1 else 0 end )as [Poisoning-bcg vaccine]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9770' then 1 else 0 end )as [Poisoning-dietetics]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9640' then 1 else 0 end )as [Poisoning-iron/compounds]
,max(CASE WHEN  [RolledUp_ICD9_Code]='96500' then 1 else 0 end )as [Poisoning-opium NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9750' then 1 else 0 end )as [Poisoning-oxytocic agent]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9600' then 1 else 0 end )as [Poisoning-penicillins]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9610' then 1 else 0 end )as [Poisoning-sulfonamides]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4460' then 1 else 0 end )as [Polyarteritis nodosa]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2730' then 1 else 0 end )as [Polyclon hypergammaglobu]
,max(CASE WHEN  [RolledUp_ICD9_Code]='75500' then 1 else 0 end )as [Polydactyly NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='65700' then 1 else 0 end )as [Polyhydramnios-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='725' then 1 else 0 end )as [Polymyalgia rheumatica]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6210' then 1 else 0 end )as [Polyp of corpus uteri]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4710' then 1 else 0 end )as [Polyp of nasal cavity]
,max(CASE WHEN  [RolledUp_ICD9_Code]='452' then 1 else 0 end )as [Portal vein thrombosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4110' then 1 else 0 end )as [Post MI syndrome]
,max(CASE WHEN  [RolledUp_ICD9_Code]='64510' then 1 else 0 end )as [Post term preg-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6390' then 1 else 0 end )as [Postabortion gu infect]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5760' then 1 else 0 end )as [Postcholecystectomy synd]
,max(CASE WHEN  [RolledUp_ICD9_Code]='515' then 1 else 0 end )as [Postinflam pulm fibrosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4570' then 1 else 0 end )as [Postmastect lymphedema]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0550' then 1 else 0 end )as [Postmeasles encephalitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='99800' then 1 else 0 end )as [Postoperative shock, NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2440' then 1 else 0 end )as [Postsurgical hypothyroid]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0520' then 1 else 0 end )as [Postvaricella encephalit]
,max(CASE WHEN  [RolledUp_ICD9_Code]='36500' then 1 else 0 end )as [Preglaucoma NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='66500' then 1 else 0 end )as [Prelabor rupt uter-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6270' then 1 else 0 end )as [Premenopause menorrhagia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='70700' then 1 else 0 end )as [Pressure ulcer, site NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4160' then 1 else 0 end )as [Prim pulm hypertension]
,max(CASE WHEN  [RolledUp_ICD9_Code]='01000' then 1 else 0 end )as [Prim TB complex-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='66100' then 1 else 0 end )as [Prim uterine inert-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1140' then 1 else 0 end )as [Primary coccidioidomycos]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0910' then 1 else 0 end )as [Primary genital syphilis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5830' then 1 else 0 end )as [Proliferat nephritis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='66200' then 1 else 0 end )as [Prolonged 1st stage-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7910' then 1 else 0 end )as [Proteinuria]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6980' then 1 else 0 end )as [Pruritus ani]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6960' then 1 else 0 end )as [Psoriatic arthropathy]
,max(CASE WHEN  [RolledUp_ICD9_Code]='316' then 1 else 0 end )as [Psychic factor w oth dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3060' then 1 else 0 end )as [Psychogen musculskel dis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='67400' then 1 else 0 end )as [Puerp cerebvasc dis-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='67200' then 1 else 0 end )as [Puerperal pyrexia-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5160' then 1 else 0 end )as [Pul alveolar proteinosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='66800' then 1 else 0 end )as [Pulm compl in del-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='514' then 1 else 0 end )as [Pulm congest/hypostasis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5180' then 1 else 0 end )as [Pulmonary collapse]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0310' then 1 else 0 end )as [Pulmonary mycobacteria]
,max(CASE WHEN  [RolledUp_ICD9_Code]='74600' then 1 else 0 end )as [Pulmonary valve anom NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5220' then 1 else 0 end )as [Pulpitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2720' then 1 else 0 end )as [Pure hypercholesterolem]
,max(CASE WHEN  [RolledUp_ICD9_Code]='36000' then 1 else 0 end )as [Purulent endophthalm NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='68600' then 1 else 0 end )as [Pyoderma NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='71100' then 1 else 0 end )as [Pyogen arthritis-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0830' then 1 else 0 end )as [Q fever]
,max(CASE WHEN  [RolledUp_ICD9_Code]='34400' then 1 else 0 end )as [Quadriplegia, unspecifd]
,max(CASE WHEN  [RolledUp_ICD9_Code]='071' then 1 else 0 end )as [Rabies]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5581' then 1 else 0 end )as [Radiation gastroenterit]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4430' then 1 else 0 end )as [Raynaud's syndrome]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2980' then 1 else 0 end )as [React depress psychosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='31500' then 1 else 0 end )as [Reading disorder NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='605' then 1 else 0 end )as [Redun prepuce & phimosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5550' then 1 else 0 end )as [Reg enteritis, sm intest]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7530' then 1 else 0 end )as [Renal agenesis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7880' then 1 else 0 end )as [Renal colic]
,max(CASE WHEN  [RolledUp_ICD9_Code]='586' then 1 else 0 end )as [Renal failure NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5880' then 1 else 0 end )as [Renal osteodystrophy]
,max(CASE WHEN  [RolledUp_ICD9_Code]='587' then 1 else 0 end )as [Renal sclerosis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='78600' then 1 else 0 end )as [Respiratory abnorm NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='769' then 1 else 0 end )as [Respiratory distress syn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='66700' then 1 else 0 end )as [Retain placenta NOS-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='20000' then 1 else 0 end )as [Retclsrc unsp xtrndl org]
,max(CASE WHEN  [RolledUp_ICD9_Code]='67600' then 1 else 0 end )as [Retract nipple preg-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3920' then 1 else 0 end )as [Rheum chorea w hrt invol]
,max(CASE WHEN  [RolledUp_ICD9_Code]='390' then 1 else 0 end )as [Rheum fev w/o hrt involv]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3950' then 1 else 0 end )as [Rheumat aortic stenosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3980' then 1 else 0 end )as [Rheumatic myocarditis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5171' then 1 else 0 end )as [Rheumatic pneumonia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7290' then 1 else 0 end )as [Rheumatism NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7140' then 1 else 0 end )as [Rheumatoid arthritis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4770' then 1 else 0 end )as [Rhinitis due to pollen]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1170' then 1 else 0 end )as [Rhinosporidiosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2680' then 1 else 0 end )as [Rickets, active]
,max(CASE WHEN  [RolledUp_ICD9_Code]='05810' then 1 else 0 end )as [Roseola infantum NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='05600' then 1 else 0 end )as [Rubella nerve compl NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0630' then 1 else 0 end )as [Russia spr-summer enceph]
,max(CASE WHEN  [RolledUp_ICD9_Code]='44401' then 1 else 0 end )as [Saddle embolus abd aorta]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5270' then 1 else 0 end )as [Salivary gland atrophy]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0030' then 1 else 0 end )as [Salmonella enteritis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='135' then 1 else 0 end )as [Sarcoidosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1330' then 1 else 0 end )as [Scabies]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1200' then 1 else 0 end )as [Schistosoma haematobium]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3550' then 1 else 0 end )as [Sciatic nerve lesion]
,max(CASE WHEN  [RolledUp_ICD9_Code]='37900' then 1 else 0 end )as [Scleritis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='69010' then 1 else 0 end )as [Sebrrheic dermatitis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='24900' then 1 else 0 end )as [Sec DM wo cmp nt st uncn]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1980' then 1 else 0 end )as [Second malig neo kidney]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1970' then 1 else 0 end )as [Secondary malig neo lung]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2890' then 1 else 0 end )as [Secondary polycythemia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6080' then 1 else 0 end )as [Seminal vesiculitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2900' then 1 else 0 end )as [Senile dementia uncomp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='797' then 1 else 0 end )as [Senility w/o psychosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='449' then 1 else 0 end )as [Septic arterial embolism]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0040' then 1 else 0 end )as [Shigella dysenteriae]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2850' then 1 else 0 end )as [Sideroblastic anemia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='502' then 1 else 0 end )as [Silica pneumocon NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='29500' then 1 else 0 end )as [Simpl schizophren-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4910' then 1 else 0 end )as [Simple chr bronchitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2400' then 1 else 0 end )as [Simple goiter]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1760' then 1 else 0 end )as [Skin - kaposi's sarcoma]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7820' then 1 else 0 end )as [Skin sensation disturb]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6100' then 1 else 0 end )as [Solitary cyst of breast]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7390' then 1 else 0 end )as [Somat dys head region]
,max(CASE WHEN  [RolledUp_ICD9_Code]='74100' then 1 else 0 end )as [Spin bif w hydroceph NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='72400' then 1 else 0 end )as [Spinal stenosis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0260' then 1 else 0 end )as [Spirillary fever]
,max(CASE WHEN  [RolledUp_ICD9_Code]='86500' then 1 else 0 end )as [Spleen injury NOS-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='63400' then 1 else 0 end )as [Spon abor w pel inf-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5120' then 1 else 0 end )as [Spont tens pneumothorax]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0820' then 1 else 0 end )as [Spotted fevers]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8400' then 1 else 0 end )as [Sprain acromioclavicular]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8430' then 1 else 0 end )as [Sprain iliofemoral]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8440' then 1 else 0 end )as [Sprain lateral coll lig]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8460' then 1 else 0 end )as [Sprain lumbosacral]
,max(CASE WHEN  [RolledUp_ICD9_Code]='84500' then 1 else 0 end )as [Sprain of ankle NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8480' then 1 else 0 end )as [Sprain of nasal septum]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8470' then 1 else 0 end )as [Sprain of neck]
,max(CASE WHEN  [RolledUp_ICD9_Code]='84200' then 1 else 0 end )as [Sprain of wrist NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8410' then 1 else 0 end )as [Sprain radial collat lig]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0050' then 1 else 0 end )as [Staph food poisoning]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8630' then 1 else 0 end )as [Stomach injury-closed]
,max(CASE WHEN  [RolledUp_ICD9_Code]='52800' then 1 else 0 end )as [Stomatitis/mucositis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0340' then 1 else 0 end )as [Strep sore throat]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0380' then 1 else 0 end )as [Streptococcal septicemia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='04100' then 1 else 0 end )as [Streptococcus unspecf]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3080' then 1 else 0 end )as [Stress react, emotional]
,max(CASE WHEN  [RolledUp_ICD9_Code]='430' then 1 else 0 end )as [Subarachnoid hemorrhage]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2180' then 1 else 0 end )as [Submucous leiomyoma]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7980' then 1 else 0 end )as [Sudden infant death synd]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9180' then 1 else 0 end )as [Superfic inj periocular]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4510' then 1 else 0 end )as [Superfic phlebitis-leg]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0600' then 1 else 0 end )as [Sylvatic yellow fever]
,max(CASE WHEN  [RolledUp_ICD9_Code]='72700' then 1 else 0 end )as [Synovitis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='64700' then 1 else 0 end )as [Syphilis in preg-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0950' then 1 else 0 end )as [Syphilitic episcleritis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3360' then 1 else 0 end )as [Syringomyelia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7100' then 1 else 0 end )as [Syst lupus erythematosus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0940' then 1 else 0 end )as [Tabes dorsalis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7850' then 1 else 0 end )as [Tachycardia NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1230' then 1 else 0 end )as [Taenia solium intestine]
,max(CASE WHEN  [RolledUp_ICD9_Code]='01100' then 1 else 0 end )as [TB lung infiltr-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='01300' then 1 else 0 end )as [TB meningitis-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='01600' then 1 else 0 end )as [TB of kidney-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='01500' then 1 else 0 end )as [TB of vertebra-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='01400' then 1 else 0 end )as [TB peritonitis-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='01200' then 1 else 0 end )as [TB pleurisy-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='01700' then 1 else 0 end )as [TB skin/subcutan-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8360' then 1 else 0 end )as [Tear med menisc knee-cur]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2570' then 1 else 0 end )as [Testicular hyperfunction]
,max(CASE WHEN  [RolledUp_ICD9_Code]='037' then 1 else 0 end )as [Tetanus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='66600' then 1 else 0 end )as [Third-stage hem-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='64400' then 1 else 0 end )as [Threat prem labor-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='64000' then 1 else 0 end )as [Threatened abort-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1120' then 1 else 0 end )as [Thrush]
,max(CASE WHEN  [RolledUp_ICD9_Code]='64900' then 1 else 0 end )as [Tobacco use disord-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='7500' then 1 else 0 end )as [Tongue tie]
,max(CASE WHEN  [RolledUp_ICD9_Code]='24200' then 1 else 0 end )as [Tox dif goiter no crisis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='986' then 1 else 0 end )as [Tox eff carbon monoxide]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9830' then 1 else 0 end )as [Tox eff corrosive aromat]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9800' then 1 else 0 end )as [Toxic eff ethyl alcohol]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9880' then 1 else 0 end )as [Toxic eff fish/shellfish]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9870' then 1 else 0 end )as [Toxic eff liq petrol gas]
,max(CASE WHEN  [RolledUp_ICD9_Code]='981' then 1 else 0 end )as [Toxic eff petroleum prod]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9820' then 1 else 0 end )as [Toxic effect benzene]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9890' then 1 else 0 end )as [Toxic effect cyanides]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9850' then 1 else 0 end )as [Toxic effect mercury]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6950' then 1 else 0 end )as [Toxic erythema]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1280' then 1 else 0 end )as [Toxocariasis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='1300' then 1 else 0 end )as [Toxoplasm meningoenceph]
,max(CASE WHEN  [RolledUp_ICD9_Code]='51900' then 1 else 0 end )as [Tracheostomy comp NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0760' then 1 else 0 end )as [Trachoma, initial stage]
,max(CASE WHEN  [RolledUp_ICD9_Code]='8600' then 1 else 0 end )as [Traum pneumothorax-close]
,max(CASE WHEN  [RolledUp_ICD9_Code]='85200' then 1 else 0 end )as [Traum subarachnoid hem]
,max(CASE WHEN  [RolledUp_ICD9_Code]='85300' then 1 else 0 end )as [Traumatic brain hem NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='124' then 1 else 0 end )as [Trichinosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3970' then 1 else 0 end )as [Tricuspid valve disease]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3501' then 1 else 0 end )as [Trigeminal neuralgia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='65100' then 1 else 0 end )as [Twin pregnancy-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='9840' then 1 else 0 end )as [Tx eff inorg lead compnd]
,max(CASE WHEN  [RolledUp_ICD9_Code]='38500' then 1 else 0 end )as [Tympanosclerosis NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0020' then 1 else 0 end )as [Typhoid fever]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5560' then 1 else 0 end )as [Ulcerative enterocolitis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0210' then 1 else 0 end )as [Ulceroglandul tularemia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2380' then 1 else 0 end )as [Unc behav neo bone]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2370' then 1 else 0 end )as [Unc behav neo pituitary]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2350' then 1 else 0 end )as [Unc behav neo salivary]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2360' then 1 else 0 end )as [Uncert behav neo uterus]
,max(CASE WHEN  [RolledUp_ICD9_Code]='55100' then 1 else 0 end )as [Unil femoral hern w gang]
,max(CASE WHEN  [RolledUp_ICD9_Code]='55200' then 1 else 0 end )as [Unil femoral hern w obst]
,max(CASE WHEN  [RolledUp_ICD9_Code]='55300' then 1 else 0 end )as [Unilat femoral hernia]
,max(CASE WHEN  [RolledUp_ICD9_Code]='55000' then 1 else 0 end )as [Unilat ing hernia w gang]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5890' then 1 else 0 end )as [Unilateral small kidney]
,max(CASE WHEN  [RolledUp_ICD9_Code]='31200' then 1 else 0 end )as [Unsocial aggress-unspec]
,max(CASE WHEN  [RolledUp_ICD9_Code]='52400' then 1 else 0 end )as [Unspcf anomaly jaw size]
,max(CASE WHEN  [RolledUp_ICD9_Code]='65200' then 1 else 0 end )as [Unstable lie-unspecified]
,max(CASE WHEN  [RolledUp_ICD9_Code]='4420' then 1 else 0 end )as [Upper extremity aneurysm]
,max(CASE WHEN  [RolledUp_ICD9_Code]='59800' then 1 else 0 end )as [Urethr strict:infect NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5970' then 1 else 0 end )as [Urethral abscess]
,max(CASE WHEN  [RolledUp_ICD9_Code]='5990' then 1 else 0 end )as [Urin tract infection NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6190' then 1 else 0 end )as [Urin-genital fistul, fem]
,max(CASE WHEN  [RolledUp_ICD9_Code]='13100' then 1 else 0 end )as [Urogenital trichomon NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='6170' then 1 else 0 end )as [Uterine endometriosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='61800' then 1 else 0 end )as [Vaginal wall prolpse NOS]
,max(CASE WHEN  [RolledUp_ICD9_Code]='67100' then 1 else 0 end )as [Varic vein leg preg-unsp]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0500' then 1 else 0 end )as [Variola major]
,max(CASE WHEN  [RolledUp_ICD9_Code]='101' then 1 else 0 end )as [Vincent's angina]
,max(CASE WHEN  [RolledUp_ICD9_Code]='064' then 1 else 0 end )as [Vir enceph arthropod NEC]
,max(CASE WHEN  [RolledUp_ICD9_Code]='0850' then 1 else 0 end )as [Visceral leishmaniasis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='2640' then 1 else 0 end )as [Vit A conjunctiv xerosis]
,max(CASE WHEN  [RolledUp_ICD9_Code]='62401' then 1 else 0 end )as [Vulvar intraeph neopl I]
,max(CASE WHEN  [RolledUp_ICD9_Code]='3350' then 1 else 0 end )as [Werdnig-hoffmann disease]


------------------
from 
Diagnoses
group by 
[SUBJECT_ID]









